<html>
  <head>
  </head>
  <body>
    <script type="text/waitron">
      <template>
        <% for(var i = 0; i < items.length; ++i) { %>
          <div><%-items[i]%>|<%-name%></div>
        <% } %>
      </template>
      <initialize>
        this.items = [1,2,3];
        this.name = "mytest!"
        this.on('click', function(){
          //alert('test');
          self.name = "aaaaa"
          self.items.push(self.items.length + 1)
        })
      </initialize>
    </script>

    <script id="titleBind" type="text/template">
      <h1 data-text="title"></h1>
      <h2 data-text="subtitle"></h2>
      <form>
        <input type="text" data-value="title">
      </form>
    </script>

    <div id="testImpl"></div>

    <script id="titleList" type="text/template">
      <ul data-components="items">
        <li data-component="titleBind"></li>
      </ul>
    </script>
    <div id="titleListImpl"></div>

    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="js/waitron.js"></script>

    <script>
      w.init();
    </script>

    <script>
      var type = w.addType(titleBind, function(params){
        var self = this;
        this.title = "テスト"
        this.subtitle = new Date

        this.onRendered = function () {
          this.find('h1').on('click', function(){
            self.title = "ああああ"
          });

          this.onChange('title', function () {
            self.subtitle = self.title + new Date
          })
        }
      })
      var cmp = type.createAfter($('#testImpl'))
    </script>

    <script>
      var type = w.addType(titleList, function(params){
        this.items = []
        var type = w.findType('titleBind')
        var titleBind = type.create()
        titleBind.init(params)
        titleBind.scope.el

        this.onRendered = function () {
        }
      });
      var cmp = type.createAfter($('#titleListImpl'))
    </script>

  </body>
</html>
